<header>
  <section>

  </section>
  <section class="icone-haut">
    <span> My Food</span>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIMAAACDCAMAAACZQ1hUAAAAUVBMVEX///8AAAD39/dISEisrKxzc3OkpKR4eHjFxcXX19exsbH8/PwNDQ3z8/NRUVFAQECFhYXg4OBWVlYVFRXn5+dmZmaOjo45OTlfX1+3t7czMzO6KXYsAAABQ0lEQVR4nO3a2w6CMBCEYRaKiAiI4vH9H9Q0Rm929cYwjsl8T/CnapF2i0JERERERGQR7SYtb9O+D+jS1jC2qYsT+gFUkA19uAojMMFsjFZiB00w2/mECZxgNrmGFbxh5Rr28Ia9azjDG86uAfuryEbX0MAbGtewhjesXUOJ3CWzofQbBHoh/DLAdwi/OzxW4gYruIWrkPXXS4VwuYZPzddXE+FTgIiIiPyZKTX18prkXzWf5hp2BlLPcUJ7ABVkh/A8aAYWZMFKdEdww9EfxLTgBDP/aZzgDSfXUMEbKtfAcAbCsA4M3weG3wXD/sCwT1I8LyiemwXD/wcRERH5Pz+/vyC4xyG4zyK41yO43yzRL5zBPS/DfTfDvT/D/APDGQjDPAzDXBDDfBTDnBjFvBzD3CDF/GT28zlSERERERGRb9wB8bQmfVMiTywAAAAASUVORK5CYII=" alt="Description de l'image">


  </section>
  
</header>


<!--
<form [formGroup]="rechercheForm">   
              <div class="form-group">
                  <input id="nom" type="text" formControlName="nom">
                  <button type="submit" (click)="onSubmit()" [disabled]="rechercheForm.invalid" >Rechercher</button>
              </div>
              </form>

-->